* {
  font-family: 'BentonSans Regular', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
    src: url("../fonts/Benton Regular.otf");
}

body {
    background-color: #fcfcfc;
}
.green {
    color: #15BE77 !important;
}
.logo h1 {
    font-size: 34px;
    font-weight: 800;
    font-family: 'Benton Bold', sans-serif;
}
.nav-item {
    font-size: 18px;
}
.navbar-text {
    font-size: 18px;
    font-weight: normal;
}
.navbar-text button img {
    width: 22px;
    height: 22px;
    margin: 0 5px;
}
.navbar-text button.login {
    width: 145px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    border-radius: 100px;
    background-color: #15BE77;
}
.login.btn-check:checked+.btn, .login.btn.active, .login.btn.show, .login.btn:first-child:active, :not(.login.btn-check)+.login.btn:active {
    color: #fff;
    border: #15BE77;
    background-color: #15BE77;
}
.nav-link  {
    color: #272727;
    font-size: 1.2rem;
}
.nav-link:hover  {
    color: #15BE77;
}

#welcome h2 {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    line-height: 1.2em;
}
#welcome p {
    font-size: 26px;
    color: #3B3B3B;
    line-height: 1.5em;
}
#welcome img {
    width: 530px;
   /*height: 530px;*/
}
#welcome .more-btn {
    border: none;
    width: 220px;
    height: 60px;
    color: #fff;
    font-size: 22px;
    border-radius: 100px;
    background: #15BE77;
}
#welcome .more-btn:hover {
    box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.5);
}
#welcome .more-btn img {
    width: 21px;
    height: 19px;
    margin-bottom: 3px;
}

#features .box {
    background: #ffffff;
    border-radius: 40px;
    box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
}
#features img {
    width: 100px;
    height: 100px;
}
#welcome h1, #features h2, #howit h2, #pricing h2, #services h2, #download h2 {
    font-size: 42px;
    font-weight: 600;
}
#features h4, #howit h4, #download h4 {
    color: #15BE77;
    font-size: 38px;
    font-weight: 500;
}
#features span, #howit span, #pricing span, #services span {
    display: block;
    color: #6C6C6C;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#features .box h5 {
    font-size: 24px;
}

#howit h3 {
    font-size: 42px;
    font-weight: 600;
}
#howit h4 {
    font-size: 36px;
    font-family: 'Benton Book', sans-serif;
    color: #000;
    color: rgba(0, 0, 0, 0.7);
}


#pricing .plan {
    border: 2px solid #ccc;
    border-radius: 40px;
    box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
}
#pricing .plan:hover {
    cursor: pointer;
    border: 2px solid #15BE77;
    border-radius: 40px;
    box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
}
#pricing .plan h2 {
    font-size: 42px;
    color: #000;
    font-weight: 700;
    font-family: 'Benton Bold', sans-serif;
    margin-bottom: 0;
}
#pricing .plan h4 {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}
#pricing .plan h5 {
    color: #ccc;
    font-size: 22px;
    font-weight: 600;
    margin-top: 12px;
}
#pricing .plan li button {
    border: none;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
#pricing .plan button {
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 24px;
    background: #15BE77;
    color: #fff;
    font-weight: normal;
}
#pricing .plan img {
    width: 27px;
    height: 27px;
}
#pricing .plan ul li {
    font-size: 22px;
    font-weight: 400;
    vertical-align: middle;
}

#services p {
    font-size: 26px;
    font-weight: 500;
    color: #555;
}
#services .explore {
    border: none;
    width: 190px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 100px;
    background: #15BE77;
}
#services .explore:hover {
    box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.5);
}
#services .stories {
    border-radius: 40px;
    box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
}
#services .stories img {
    /*width: 64px;*/
    height: 64px;
}
#services .stories h4 {
    color: #000;
    font-weight: 600;
    font-size: 21px;
}
#services .stories span {
    color: #777;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: normal;
}

#download {
    position: relative;
    background: #15BE77;
    overflow: hidden;
}
#download p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
#download button {
    height: 52px;
    box-shadow: 0px 20px 40px 0px rgba(21, 190, 119, 0.29), 0px 5px 10px 0px rgba(21, 190, 119, 0.26);
    border: none;
}
#download .img-mobiles {
    width: 470px;
    height: auto;
    position: absolute;
    bottom: 0;
}

#footer h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Benton Black', sans-serif;
}
#footer h3 {
    font-size: 26px;
    font-weight: 600;
}
#footer ul li, #footer ul li a {
    font-weight: 400;
    font-size: 22px;
    color: #555;
}
#footer h6 a {
    font-weight: 400;
    font-size: 22px;
    color: #555;
    word-break: break-word;
}
#footer p {
    font-size: 24px;
    font-weight: 500;
}

#social .list-group-item {
    background: #edffef;
    border-radius: 100px;
    border: none;
    width: 58px;
    height: 57px;
    margin-right: 25px;
    text-align: center;
}
#social .list-group-item svg {
    position: relative;
    top: 3px;
    height: 24px;
}
#social .list-group-item:hover {
    background: #15BE77;
}
#social .list-group-item:hover svg, #social .list-group-item:hover svg path {
    fill: #fff;
}
#social span {
    color: #555555;
    font-weight: 400;
    font-size: 18px;
}

/*responsive media queries*/
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .nav-link {
        font-size: 1.2rem;
    }
    #download h2 {
        font-size: 52px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #howit h3 {
        font-size: 44px;
    }
    #howit h4 {
        font-size: 36px;
    }
    #pricing .plan ul li {
        font-size: 26px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #welcome h1, #features h2, #howit h2, #pricing h2, #services h2, #download h2, #welcome h2 {
        font-size: 42px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #features p, #howit p, #pricing p, #services p {
        font-size: 26px;
    }
    #howit h3 {
        font-size: 36px;
    }
    #howit h4 {
        font-size: 30px;
    }
    #pricing .plan ul li {
        font-size: 26px;
    }
    #features img {
        height: auto;
    }
    #download h4 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 576px) {
    #services .stories img {
        width: 56px;
        height: 56px;
    }
    #services .stories h4 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    #howit img {
        width: 350px;
    }
    #download p {
        font-size: 18px;
    }
    #welcome h1, #features h2, #download h2 {
        font-size: 38px;
    }
    #features h4, #download h4 {
        font-size: 28px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-25 {
        width: 25% !important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-25 {
        width: 25% !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-25 {
        width: 25% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .w-xl-100 {
        width: 100% !important;
    }
    .w-xl-75 {
        width: 75% !important;
    }
    .w-xl-50 {
        width: 50% !important;
    }
    .w-xl-25 {
        width: 25% !important;
    }
}
